.light-text {
  color: rgb(146, 146, 146);
}

.dropdown {
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.dropdown:focus-visible {
  outline: 3px solid rgba(141, 212, 253, 0.622);
}

.dropdown-list {
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-list-item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 !important;
  border-bottom: 1px solid rgb(231, 229, 229);
  border-left: 4px solid transparent;
}

.dropdown-list-item.selected {
  background-color: rgb(225, 225, 225);
}

.dropdown-list-item:hover,
.dropdown-list-item.hoverd {
  background-color: rgba(141, 212, 253, 0.622);
  border-left: 4px solid rgb(33, 130, 186);
}

.dropdown-value {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.option-button {
  background-color: rgba(112, 128, 144, 0.601);
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
  border: 1px solid slategray;
  font-size: 14px;
}

.option-button:hover,
.option-button:focus {
  background-color: hwb(0 65% 2%);
}
